<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" >
<body>
<div id="main" layout:fragment="content">
    <div class="container">
        <a th:href="@{'/user/exam/' + ${exam.getId()}}" class="btn btn-success btn-md"><span th:text="#{general.gotoview}"></span></a>
        <form autocomplete="off" action="#" th:action="@{'/user/exam/setanswers/' + ${exam.getId()}}" th:object="${exam}" method="post" class="form-horizontal" role="form">
            <h2><span th:text="#{exam.giveexamanswers}"></span></h2>

            <input type="hidden" th:field="*{id}" th:value="*{id}"/>

            <div class="col-sm-10" th:each="examQuestion,stat : *{examQuestionsDTO}">
                <div class="row">
                    <label><span th:text="#{exam.question}"></span> <span th:text="${examQuestion.getSortNumber()}"></span></label><br/>
                    <div th:text="${examQuestion.getQuestiontext()}"></div>
                    <label><span th:text="#{exam.answertoquestion}"></span> <span th:text="${examQuestion.getSortNumber()}"></span></label><br/>
                    <label	th:if="${#fields.hasErrors('*{examQuestionsDTO[__${stat.index}__].answertext}')}" th:errors="*{examQuestionsDTO[__${stat.index}__].answertext}" class="validation-message"></label>
                    <textarea th:field="*{examQuestionsDTO[__${stat.index}__].answertext}" class="form-control">
                        <span th:text="${examQuestion.getAnswertext()}"></span>
                    </textarea>
                    <input type="hidden" th:field="*{examQuestionsDTO[__${stat.index}__].id}" th:value="${examQuestion.getId()}"/>
                    <input type="hidden" th:field="*{examQuestionsDTO[__${stat.index}__].sortNumber}" th:value="${examQuestion.getSortNumber()}"/>
                    <input type="hidden" th:field="*{examQuestionsDTO[__${stat.index}__].questiontext}" th:value="${examQuestion.getQuestiontext()}"/>
                </div>
                <br/>
            </div>

            <div class="row">
                <div class="form-group">
                    <div class="col-sm-10">
                        <span class="col-sm-6"><button type="submit" class="btn btn-primary btn-block" name="action" value="tempsave">
                            <span th:text="#{general.tempsave}"></span></button></span>
                        <span class="col-sm-4"><button type="submit" class="btn btn-warning btn-block" name="action" value="save">
                            <span th:text="#{general.finalize}"></span></button></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>