<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" >
<body>
<div id="main" layout:fragment="content">
    <div class="container">
        <div class="row">
            <a th:href="@{'/user/exam/' + ${exam.getId()}}" class="btn btn-success btn-md"><span th:text="#{general.gotoview}"></span></a>
            <div class="pull-right">
                <form th:action="@{'/user/exam/finalize/' + ${exam.getId()}}" method="GET" class="form-inline">
                    <div class="form-group mb-2"><input type="number" id="committeesize" name="committeesize" th:value="${committeesize}" class="form-control" /></div>
                    <button type="submit" class="btn btn-primary mb-2">Set Committee Size</button>
                </form>
            </div>
        </div>
        <div class="row">
            <form autocomplete="off" action="#" th:action="@{'/user/exam/finalize/' + ${exam.getId()}}" th:object="${exam}" method="post" class="form-horizontal" role="form">
                <h2><span th:text="#{exam.setcommitteeandnotes}"></span></h2>

                <input type="hidden" th:field="*{id}" th:value="*{id}"/>
                <input type="hidden" th:field="${committeesize}" th:value="${committeesize}"/>

                <div class="col-sm-9" th:each="committeeMemberDTO,stat : *{committeeMembersDTO}">
                    <div class="row">
                        <span th:with="memberNumber= ${stat.index + 1}">
                            <label><span th:text="#{exam.committeemember}"></span> <span th:text="${memberNumber}"></span></label><br/>
                        </span>
                        <label><span th:text="#{exam.committeemembers.name}"></span></label><br/>
                        <label	th:if="${#fields.hasErrors('*{committeeMembersDTO[__${stat.index}__].name}')}" th:errors="*{committeeMembersDTO[__${stat.index}__].name}" class="validation-message"></label>
                        <input type="text" th:field="*{committeeMembersDTO[__${stat.index}__].name}" class="form-control" th:value="${committeeMemberDTO.getName()}" /><br/>
                        <label><span th:text="#{exam.committeemembers.lastname}"></span></label><br/>
                        <label	th:if="${#fields.hasErrors('*{committeeMembersDTO[__${stat.index}__].lastName}')}" th:errors="*{committeeMembersDTO[__${stat.index}__].lastName}" class="validation-message"></label>
                        <input type="text" th:field="*{committeeMembersDTO[__${stat.index}__].lastName}" class="form-control" th:value="${committeeMemberDTO.getLastName()}" /><br/>
                        <label><span th:text="#{exam.committeemembers.memberrole}"></span></label><br/>
                        <label	th:if="${#fields.hasErrors('*{committeeMembersDTO[__${stat.index}__].committeeRole}')}" th:errors="*{committeeMembersDTO[__${stat.index}__].committeeRole}" class="validation-message"></label>
                        <select class="form-control" th:field="*{committeeMembersDTO[__${stat.index}__].committeeRole}" >
                            <option th:each="role : ${T(gr.mgourlis.draftnationallity.model.CommitteeRole).values()}" th:value="${role}" th:selected="(${committeeMemberDTO.getCommitteeRole() == role})">
                                <span th:if="${role.toString() == 'PRESIDENT'}"><span th:text="#{exam.committeemembers.memberrole.president}"></span></span>
                                <span th:if="${role.toString() == 'SECRETARY'}"><span th:text="#{exam.committeemembers.memberrole.secretary}"></span></span>
                                <span th:if="${role.toString() == 'MEMBER'}"><span th:text="#{exam.committeemembers.memberrole.member}"></span></span>
                            </option>
                        </select><br/>
                        <input type="hidden" th:field="*{committeeMembersDTO[__${stat.index}__].id}" th:value="${committeeMemberDTO.getId()}"/>
                    </div>
                    <br/>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label><span th:text="#{exam.generalnotes}"></span></label><br/>
                        <label	th:if="${#fields.hasErrors('examGeneralNotes')}" th:errors="*{examGeneralNotes}"
                                  class="validation-message"></label>
                        <textarea th:field="*{examGeneralNotes}" class="form-control" rows="10">
                            <span th:text="*{examGeneralNotes}"></span>
                        </textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-9">
                            <span class="col-sm-4"><button type="submit" class="btn btn-primary btn-block" name="action" value="tempsave">
                                <span th:text="#{general.tempsave}"></span></button></span>
                            <span class="col-sm-4"><button type="submit" class="btn btn-warning btn-block" name="action" value="save">
                                <span th:text="#{general.finalize}"></span></button></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>