<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" >
<body>
<div id="main" layout:fragment="content">
    <div class="container">
        <div class="col-sm-9">
            <div>
                <span th:if="${exam.getStatus().toString() == 'PENDING' or exam.getStatus().toString() == 'ANSWERED'}"><a th:href="@{'/user/exam/edit/' + ${exam.getId()}}" class="btn btn-warning btn-md">
                    <span th:text="#{general.edit}"></span></a></span>

                <span th:if="${exam.getStatus().toString() != 'PENDING' and exam.getStatus().toString() != 'ANSWERED'}"><button class="btn btn-warning disabled btn-md" disabled>
                    <span th:text="#{general.edit}"></span></button></span>
                <span class="glyphicon glyphicon-forward"></span>

                <span th:if="${exam.getStatus().toString() == 'PENDING'}"><a th:href="@{'/user/exam/setanswers/' + ${exam.getId()}}" class="btn btn-warning  btn-md">
                    <span th:text="#{general.setanswers}"></span></a></span>

                <span th:if="${exam.getStatus().toString() != 'PENDING'}"><button class="btn btn-warning disabled btn-md" disabled>
                    <span th:text="#{general.setanswers}"></span></button></span>
                <span class="glyphicon glyphicon-forward"></span>

                <span th:if="${exam.getStatus().toString() == 'ANSWERED'}"><a th:href="@{'/user/exam/setrating/' + ${exam.getId()}}" class="btn btn-warning btn-md">
                    <span th:text="#{general.setratings}"></span></a></span>

                <span th:if="${exam.getStatus().toString() != 'ANSWERED'}"><button class="btn btn-warning disabled btn-md" disabled>
                    <span th:text="#{general.setratings}"></span></button></span>
                <span class="glyphicon glyphicon-forward"></span>

                <span th:if="${exam.getStatus().toString() == 'RATED'}"><a th:href="@{'/user/exam/finalize/' + ${exam.getId()}}" class="btn btn-warning btn-md">
                    <span th:text="#{general.finalizeexam}"></span></a></span>

                <span th:if="${exam.getStatus().toString() != 'RATED'}"><button class="btn btn-warning disabled btn-md" disabled>
                    <span th:text="#{general.finalizeexam}"></span></button></span>
            </div>

            <br/>

            <fieldset class="info-border" >
                <legend class="info-border"><span th:text="#{exam.information}"></span></legend>
                <table class="table">
                    <tr>
                        <td><span th:text="#{exam.createddate}"></span></td>
                        <td><span th:text="${#dates.format(exam.getCreatedAt(), 'dd-MM-yyyy')}"></span></td>
                    </tr>
                    <tr>
                        <td><span th:text="#{exam.rateddate}"></span></td>
                        <td><span th:text="${#dates.format(exam.getRatedDate(), 'dd-MM-yyyy')}"></span></td>
                    </tr>
                    <tr>
                        <td><span th:text="#{exam.finalizeddate}"></span></td>
                        <td><span th:text="${#dates.format(exam.getFinalizedDate(), 'dd-MM-yyyy')}"></span></td>
                    </tr>
                    <tr>
                        <td><span th:text="#{exam.uniqueid}"></span></td>
                        <td><span th:text="${exam.getuID()}"></span></td>
                    </tr>
                    <tr>
                        <td><span th:text="#{exam.localfilenumber}"></span></td>
                        <td><span th:text="${exam.getLocalFileNumber()}"></span></td>
                    </tr>
                    <tr>
                        <td><span th:text="#{exam.foreas}"></span></td>
                        <td><span th:text="${exam.getForeas()}"></span></td>
                    </tr>
                    <tr>
                        <td><span th:text="#{exam.languageexemption}"></span></td>
                        <td><span th:if="${exam.isLanguageExemption()}" th:text="#{general.yes}"></span>
                            <span th:if="${!exam.isLanguageExemption()}" th:text="#{general.no}"></span></td>
                    </tr>
                    <tr th:if="${exam.isLanguageExemption()}">
                        <td><span th:text="#{exam.languageexemptionnotes}"></span></td>
                        <td><span th:text="${exam.getLanguageExemptionNotes()}"></span></td>
                    </tr>
                    <tr>
                        <td><span th:text="#{exam.deaf}"></span></td>
                        <td><span th:if="${exam.isDeaf()}" th:text="#{general.yes}"></span>
                            <span th:if="${!exam.isDeaf()}" th:text="#{general.no}"></span></td>
                    </tr>
                    <tr th:if="${exam.isDeaf()}">
                        <td><span th:text="#{exam.deafnotes}"></span></td>
                        <td><span th:text="${exam.getDeafNotes()}"></span></td>
                    </tr>
                </table>
            </fieldset>
        </div>

        <br/>

        <div class="col-sm-9">
            <fieldset class="info-border">
                <legend class="info-border"><span th:text="#{exam.questions}"></span></legend>
                <div th:each="examQuestion : ${exam.getExamQuestions()}">
                    <label><span th:text="#{exam.question}"></span> <span th:text="${examQuestion.getSortNumber()}"></span></label>
                    <div th:text="${examQuestion.getQuestion().getQuestiontext()}"></div>
                    <div th:if="${examQuestion.getAnswer() != null}">
                        <label><span th:text="#{exam.answer}"></span></label>
                        <div th:text="${examQuestion.getAnswer().getAnswertext()}"></div>
                    </div>
                    <br/>
                </div>
            </fieldset>
        </div>

        <br/>

        <div class="col-sm-9">
            <fieldset class="info-border">
                <legend class="info-border"><span th:text="#{exam.ratings}"></span></legend>
                <table class="table">
                    <tr>
                        <th><span th:text="#{exam.ratings.type}"></span></th>
                        <th><span th:text="#{exam.ratings.mark}"></span></th>
                        <th><span th:text="#{exam.ratings.notes}"></span></th>
                    </tr>
                    <tr th:each="examRating : ${exam.getExamRatings()}">
                        <td><span th:text="${examRating.getExamRatingType().getRatingType()} + ':'"></span></td>
                        <td><span th:text="${examRating.getExamRatingMark().getRatingMark()}"></span></td>
                        <td><span th:text="${examRating.getRatingNotes()}"></span></td>
                    </tr>
                </table>
            </fieldset>
        </div>

        <br/>

        <div class="col-sm-9">
            <fieldset class="info-border">
                <legend class="info-border"><span th:text="#{exam.committeemembers}"></span></legend>
                <table class="table">
                    <tr>
                        <th><span th:text="#{exam.committeemembers.name}"></span></th>
                        <th><span th:text="#{exam.committeemembers.lastname}"></span></th>
                        <th><span th:text="#{exam.committeemembers.memberrole}"></span></th>
                    </tr>
                    <tr th:each="committeeMember : ${exam.getCommitteeMembers()}">
                        <td><span th:text="${committeeMember.getName()}"></span></td>
                        <td><span th:text="${committeeMember.getLastName()}"></span></td>
                        <td th:if="${committeeMember.getCommitteeRole().toString() == 'PRESIDENT'}"><span th:text="#{exam.committeemembers.memberrole.president}"></span></td>
                        <td th:if="${committeeMember.getCommitteeRole().toString() == 'SECRETARY'}"><span th:text="#{exam.committeemembers.memberrole.secretary}"></span></td>
                        <td th:if="${committeeMember.getCommitteeRole().toString() == 'MEMBER'}"><span th:text="#{exam.committeemembers.memberrole.member}"></span></td>
                    </tr>
                </table>
            </fieldset>
        </div>

        <br/>

        <div class="col-sm-9">
            <fieldset class="info-border">
                <legend class="info-border"><span th:text="#{exam.generalnotes}"></span></legend>
                <div th:text="${exam.getExamGeneralNotes()}"></div>
            </fieldset>
        </div>
    </div>
</div>
</body>
</html>