<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" >
<body>
<div id="main" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2><span th:text="#{exam.exams}"></span></h2>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <a th:href="${'/user/exam/new'}" class="btn btn-primary mb-2"><span th:text="#{exam.createexam}"></span></a>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="btn-group dropdown" sd:page-size-selector="dropdown"></div>
            </div>
            <div class="col-md-8">
                <div class="pull-right">
                    <form th:action="@{/user/exam/}" method="GET" class="form-inline">
                        <div class="form-group mb-2"><input type="text" id="lfile" name="lfile"  th:placeholder="#{exam.localfilenumber}" class="form-control" th:value="${param.lfile}" /></div>
                        <select class="form-control" id="estatus" name="estatus" >
                            <option value=""><span th:text="#{estatus.status}"></span></option>
                            <span th:each="estatus : ${T(gr.mgourlis.draftnationallity.model.ExamStatus).values()}">
                                <option th:if="${estatus.toString() != 'VALIDATED'}" th:value="${estatus.toString()}" th:selected="${estatus.toString() == paramestatus}">
                                    <span th:if="${estatus.toString() == 'PENDING'}"><span th:text="#{estatus.pending}"></span></span>
                                    <span th:if="${estatus.toString() == 'ANSWERED'}"><span th:text="#{estatus.answered}"></span></span>
                                    <span th:if="${estatus.toString() == 'RATED'}"><span th:text="#{estatus.rated}"></span></span>
                                    <span th:if="${estatus.toString() == 'FINALIZED'}"><span th:text="#{estatus.finalized}"></span></span>
                                </option>
                            </span>
                        </select>
                        <button class="btn btn-primary mb-2" type="Submit" th:text="#{general.search}"></button>
                    </form>
                </div>
            </div>
        </div>
        <div th:if="${!exams.isEmpty()}">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th><span th:text="#{exam.uniqueid}"></span></th>
                        <th><span th:text="#{exam.type}"></span></th>
                        <th><span th:text="#{exam.localfilenumber}"></span></th>
                        <th><span th:text="#{exam.createddate}"></span></th>
                        <th><span th:text="#{exam.rateddate}"></span></th>
                        <th><span th:text="#{general.view}"></span></th>
                        <th><span th:text="#{general.edit}"></span></th>
                        <th><span th:text="#{general.action}"></span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="exam,iterationStatus : ${exams}">
                        <td th:text="${exam.getuID()}">UID</td>
                        <td th:text="${exam.getExamSetting().getName()}">Type/td>
                        <td th:text="${exam.getLocalFileNumber()}">Local File Number</td>
                        <td th:text="${#dates.format(exam.getCreatedAt(), 'dd-MM-yyyy')}">Created Date</td>
                        <td th:text="${#dates.format(exam.getRatedDate(), 'dd-MM-yyyy')}">Rated Date</td>
                        <td><a th:href="@{'/user/exam/' + ${exam.getId()}}" class="btn btn-success btn-xs"><span th:text="#{general.view}"></span></a></td>
                        <td><span th:if="${exam.getStatus().toString() == 'PENDING' or exam.getStatus().toString() == 'ANSWERED'}"><a th:href="@{'/user/exam/edit/' + ${exam.getId()}}" class="btn btn-warning btn-xs"><span th:text="#{general.edit}"></span></a></span></td>
                        <td th:if="${exam.getStatus().toString() == 'PENDING'}"><a th:href="@{'/user/exam/setanswers/' + ${exam.getId()}}" class="btn btn-warning btn-xs"><span th:text="#{general.setanswers}"></span></a></td>
                        <td th:if="${exam.getStatus().toString() == 'ANSWERED'}"><a th:href="@{'/user/exam/setrating/' + ${exam.getId()}}" class="btn btn-warning btn-xs"><span th:text="#{general.setratings}"></span></a></td>
                        <td th:if="${exam.getStatus().toString() == 'RATED'}"><a th:href="@{'/user/exam/finalize/' + ${exam.getId()}}" class="btn btn-warning btn-xs"><span th:text="#{general.finalizeexam}"></span></a></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="row">
            <div class="col-sm-6">
                <div sd:pagination-summary="">info</div>
            </div>
            <div class="col-sm-6">
                <nav class="pull-right">
                    <ul class="pagination" sd:pagination="full">
                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
</body>
</html>