<div class="footer text-center" th:fragment="footer">
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <p> <a class="navbar-link" href="#"> Terms of Use</a> | <a class="navbar-link" href="#">What's New</a> | <a class="navbar-link" href="#">Help</a> </p>
        </div>
    </nav>
    <!-- javascripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>