<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta content="ie=edge" http-equiv="x-ua-compatible" />
    <title th:text="${metaTitle} ? ${metaTitle} : 'Nationallity-Questions'"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<nav class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Nationallity Questions</a>
        </div>
        <ul class="nav navbar-nav">
            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin/user/">Users</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin/role/">Roles</a></li>
            <li sec:authorize="hasRole('ROLE_MODERATOR')"><a href="/admin/question-category/">Questions</a></li>
            <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Settings</a>
                <ul class="dropdown-menu">
                    <li><a href="/admin/difficulty/">Difficulties</a></li>
                    <li><a href="/admin/difficulty-setting/">Difficulty Settings</a></li>
                    <li><a href="/admin/exam-setting/">Exam Settings</a></li>
                </ul>
            </li>
            <li sec:authorize="hasRole('ROLE_MODERATOR')"><a href="/moderator/exam/">Exams</a></li>
            <li sec:authorize="hasRole('ROLE_USER')" class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Exams</a>
                <ul class="dropdown-menu">
                    <li><a href="/user/exam/new">New Exam</a></li>
                    <li><a href="/user/exam/">Past Exams</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li sec:authorize="isFullyAuthenticated()">
                <a href="#"><span class="glyphicon glyphicon-user"></span>
                <span th:utext="${#request.userPrincipal.principal.name}"></span>
                <span> </span>
                <span th:text ="${#request.userPrincipal.principal.lastName}"></span>
                <span>(</span>
                <span th:text ="${#request.userPrincipal.principal.email}"></span>
                <span>)</span></a></li>
            <li sec:authorize="isFullyAuthenticated()">
                <a href="#">
                    <form th:action="@{/logout}" method="post">
                        <button type="Submit" class="btn btn-link" style="padding-top:0;padding-bottom:0;"><span class="glyphicon glyphicon-log-out"></span> Logout</button>
                    </form>
                </a>
            </li>
        </ul>
    </div>
</nav>