<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}" >
<body>
<div id="main" layout:fragment="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" th:action="@{'/admin/exam-rating-mark/edit/' + ${examRatingMark.getId()}}" th:object="${examRatingMark}" method="post" class="form-horizontal" role="form">
                <h2>Edit Exam Rating Mark</h2>
                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('ratingMark')}" th:errors="*{ratingMark}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{ratingMark}" placeholder="Name"
                               class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>